<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tabs</title>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="placeholder.css" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    </head>
    <body>
        <div class="Tabs">
            <input type="radio" id="radio-0" checked="checked" name="tab">
            <label for="radio-0">
                <i class="la la-user-circle"></i>
                <b>Account</b>
                <p>Personal Data</p>
            </label>
            <div>
                <div class="Placeholder"></div>
            </div>
            <input type="radio" id="radio-1" name="tab">
            <label for="radio-1">
                <i class="la la-external-link-square-alt"></i>
                <b>Links</b>
                <p>Social Profiles</p>
            </label>
            <div>
                <div class="Placeholder"></div>
            </div>
        </div>
    </body>
</html>