<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pagination</title>
        <link rel="stylesheet" href="style.css" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="Pagination">
            <strong>10 pages</strong>
            <a href="/#1"></a>
            <a href="/#1">1</a>
            <a href="/#2" class="active">2</a>
            <a href="/#3">3</a>
            <span></span>
            <a href="/#10">10</a>
            <a href="/#3"></a>
        </div>
    </body>
</html>