.Carrousel li:nth-child(1) a{background-image: url(/images/Carrousel/1.jpg);}
.Carrousel li:nth-child(2) a{background-image: url(/images/Carrousel/2.jpg);}
.Carrousel li:nth-child(3) a{background-image: url(/images/Carrousel/3.jpg);}
.Carrousel li:nth-child(4) a{background-image: url(/images/Carrousel/4.jpg);}
.Carrousel li:nth-child(5) a{background-image: url(/images/Carrousel/5.jpg);}
.Carrousel li:nth-child(6) a{background-image: url(/images/Carrousel/6.jpg);}
.Carrousel li:nth-child(7) a{background-image: url(/images/Carrousel/7.jpg);}

