<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Choice</title>
        <link rel="stylesheet" href="style.css" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="Choice">
            <ul>
                <li><input type="radio" checked="" name="gender"/>Picasso</li>
                <li><input type="radio" name="gender" />Velázquez</li>
                <li><input type="radio" name="gender" />Zurbaran</li>
            </ul>
        </div>
    </body>
</html>