<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Message</title>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="Message">
            <del>Alert</del>
            <span>My perfect description</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <code></code>
        </div>
        <div class="Message">
            <strong>Sucess</strong>
            <span>My perfect description</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <code></code>
        </div>
    </body>
</html>