<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Grid</title>
        <link rel="stylesheet" href="style.css" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="Grid">
            <div screen="10" phone="90"></div>
            <div screen="90" phone="10"></div>
            <div screen="20" phone="80"></div>
            <div screen="80" phone="20"></div>
            <div screen="30" phone="70"></div>
            <div screen="70" phone="30"></div>
            <div screen="40" phone="60"></div>
            <div screen="60" phone="40"></div>
            <div screen="50"></div>
            <div screen="50"></div>
            <div screen="100" phone="100"></div>
        </div>
    </body>
</html>