/* Grid */
/* Remember that this CSS is contingent on invalid HTML. If you want to make it valid, use the prefix data. */
/* General */
    .Grid > div{ background: blue;height:60px;box-sizing: border-box; border:5px solid #fff}
    .Grid { margin: 20px; display: flex; flex: 0 1 auto; flex-direction: row; flex-wrap: wrap;justify-content: space-between; }
/* Width Direct */
    *[screen="0"]{ display:inline-block; max-width: 0px;}
    *[screen="20"]{ display:inline-block; max-width: 20px;}
    *[screen="40"]{ display:inline-block; max-width: 40px;}
    *[screen="60"]{ display:inline-block; max-width: 60px;}
    *[screen="80"]{ display:inline-block; max-width: 80px;}
    *[screen="100"]{ display:inline-block; max-width: 100px;}
    *[screen="120"]{ display:inline-block; max-width: 120px;}
    *[screen="140"]{ display:inline-block; max-width: 140px;}
    *[screen="160"]{ display:inline-block; max-width: 160px;}
    *[screen="180"]{ display:inline-block; max-width: 180px;}
    *[screen="200"]{ display:inline-block; max-width: 200px;}
    *[screen="220"]{ display:inline-block; max-width: 220px;}
    *[screen="240"]{ display:inline-block; max-width: 240px;}
    *[screen="260"]{ display:inline-block; max-width: 260px;}
    *[screen="280"]{ display:inline-block; max-width: 280px;}
    *[screen="300"]{ display:inline-block; max-width: 300px;}
    *[screen="320"]{ display:inline-block; max-width: 320px;}
    *[screen="340"]{ display:inline-block; max-width: 340px;}
    *[screen="360"]{ display:inline-block; max-width: 360px;}
    *[screen="380"]{ display:inline-block; max-width: 380px;}
    *[screen="400"]{ display:inline-block; max-width: 400px;}
    *[screen="420"]{ display:inline-block; max-width: 420px;}
    *[screen="440"]{ display:inline-block; max-width: 440px;}
    *[screen="460"]{ display:inline-block; max-width: 460px;}
    *[screen="480"]{ display:inline-block; max-width: 480px;}
    *[screen="500"]{ display:inline-block; max-width: 500px;}
    *[screen="520"]{ display:inline-block; max-width: 520px;}
    *[screen="540"]{ display:inline-block; max-width: 540px;}
    *[screen="560"]{ display:inline-block; max-width: 560px;}
    *[screen="580"]{ display:inline-block; max-width: 580px;}
    *[screen="600"]{ display:inline-block; max-width: 600px;}
    *[screen="620"]{ display:inline-block; max-width: 620px;}
    *[screen="640"]{ display:inline-block; max-width: 640px;}
    *[screen="660"]{ display:inline-block; max-width: 660px;}
    *[screen="680"]{ display:inline-block; max-width: 680px;}
    *[screen="700"]{ display:inline-block; max-width: 700px;}
    *[screen="720"]{ display:inline-block; max-width: 720px;}
    *[screen="740"]{ display:inline-block; max-width: 740px;}
    *[screen="760"]{ display:inline-block; max-width: 760px;}
    *[screen="780"]{ display:inline-block; max-width: 780px;}
    *[screen="800"]{ display:inline-block; max-width: 800px;}
    *[screen="820"]{ display:inline-block; max-width: 820px;}
    *[screen="840"]{ display:inline-block; max-width: 840px;}
    *[screen="860"]{ display:inline-block; max-width: 860px;}
    *[screen="880"]{ display:inline-block; max-width: 880px;}
    *[screen="900"]{ display:inline-block; max-width: 900px;}
    *[screen="920"]{ display:inline-block; max-width: 920px;}
    *[screen="940"]{ display:inline-block; max-width: 940px;}
    *[screen="960"]{ display:inline-block; max-width: 960px;}
    *[screen="980"]{ display:inline-block; max-width: 980px;}
    *[screen="1000"]{ display:inline-block; max-width: 1000px;}
    *[screen="1020"]{ display:inline-block; max-width: 1020px;}
    *[screen="1040"]{ display:inline-block; max-width: 1040px;}
    *[screen="1060"]{ display:inline-block; max-width: 1060px;}
    *[screen="1080"]{ display:inline-block; max-width: 1080px;}
    *[screen="1100"]{ display:inline-block; max-width: 1100px;}
    *[screen="1120"]{ display:inline-block; max-width: 1120px;}
    *[screen="1140"]{ display:inline-block; max-width: 1140px;}
    *[screen="1160"]{ display:inline-block; max-width: 1160px;}
    *[screen="1180"]{ display:inline-block; max-width: 1180px;}
    *[screen="1200"]{ display:inline-block; max-width: 1200px;}
    *[screen="1220"]{ display:inline-block; max-width: 1220px;}
    *[screen="1240"]{ display:inline-block; max-width: 1240px;}
    *[screen="1260"]{ display:inline-block; max-width: 1260px;}
    *[screen="1280"]{ display:inline-block; max-width: 1280px;}
    *[screen="1300"]{ display:inline-block; max-width: 1300px;}
    *[screen="1320"]{ display:inline-block; max-width: 1320px;}
    *[screen="1340"]{ display:inline-block; max-width: 1340px;}
    *[screen="1360"]{ display:inline-block; max-width: 1360px;}
    *[screen="1380"]{ display:inline-block; max-width: 1380px;}
    *[screen="1400"]{ display:inline-block; max-width: 1400px;}
    *[screen="1420"]{ display:inline-block; max-width: 1420px;}
    *[screen="1440"]{ display:inline-block; max-width: 1440px;}
    *[screen="1460"]{ display:inline-block; max-width: 1460px;}
    *[screen="1480"]{ display:inline-block; max-width: 1480px;}
    *[screen="1500"]{ display:inline-block; max-width: 1500px;}
    *[screen="1520"]{ display:inline-block; max-width: 1520px;}
    *[screen="1540"]{ display:inline-block; max-width: 1540px;}
    *[screen="1560"]{ display:inline-block; max-width: 1560px;}
    *[screen="1580"]{ display:inline-block; max-width: 1580px;}
    *[screen="1600"]{ display:inline-block; max-width: 1600px;}
    *[screen="1620"]{ display:inline-block; max-width: 1620px;}
    *[screen="1640"]{ display:inline-block; max-width: 1640px;}
    *[screen="1660"]{ display:inline-block; max-width: 1660px;}
    *[screen="1680"]{ display:inline-block; max-width: 1680px;}
    *[screen="1700"]{ display:inline-block; max-width: 1700px;}
    *[screen="1720"]{ display:inline-block; max-width: 1720px;}
    *[screen="1740"]{ display:inline-block; max-width: 1740px;}
    *[screen="1760"]{ display:inline-block; max-width: 1760px;}
    *[screen="1780"]{ display:inline-block; max-width: 1780px;}
    *[screen="1800"]{ display:inline-block; max-width: 1800px;}
    *[screen="1820"]{ display:inline-block; max-width: 1820px;}
    *[screen="1840"]{ display:inline-block; max-width: 1840px;}
    *[screen="1860"]{ display:inline-block; max-width: 1860px;}
    *[screen="1880"]{ display:inline-block; max-width: 1880px;}
    *[screen="1900"]{ display:inline-block; max-width: 1900px;}
    *[screen="1920"]{ display:inline-block; max-width: 1920px;}
    *[screen="1940"]{ display:inline-block; max-width: 1940px;}
    *[screen="1960"]{ display:inline-block; max-width: 1960px;}
    *[screen="1980"]{ display:inline-block; max-width: 1980px;}
    *[screen="2000"]{ display:inline-block; max-width: 2000px;}
/* Dinamic */
    .Grid > *[screen="0"]{flex-basis: 0%;  max-width: 0%;}
    .Grid > *[screen="1"]{flex-basis: 1%;  max-width: 1%;}
    .Grid > *[screen="2"]{flex-basis: 2%;  max-width: 2%;}
    .Grid > *[screen="3"]{flex-basis: 3%;  max-width: 3%;}
    .Grid > *[screen="4"]{flex-basis: 4%;  max-width: 4%;}
    .Grid > *[screen="5"]{flex-basis: 5%;  max-width: 5%;}
    .Grid > *[screen="6"]{flex-basis: 6%;  max-width: 6%;}
    .Grid > *[screen="7"]{flex-basis: 7%;  max-width: 7%;}
    .Grid > *[screen="8"]{flex-basis: 8%;  max-width: 8%;}
    .Grid > *[screen="9"]{flex-basis: 9%;  max-width: 9%;}
    .Grid > *[screen="10"]{flex-basis: 10%;  max-width: 10%;}
    .Grid > *[screen="11"]{flex-basis: 11%;  max-width: 11%;}
    .Grid > *[screen="12"]{flex-basis: 12%;  max-width: 12%;}
    .Grid > *[screen="13"]{flex-basis: 13%;  max-width: 13%;}
    .Grid > *[screen="14"]{flex-basis: 14%;  max-width: 14%;}
    .Grid > *[screen="15"]{flex-basis: 15%;  max-width: 15%;}
    .Grid > *[screen="16"]{flex-basis: 16%;  max-width: 16%;}
    .Grid > *[screen="17"]{flex-basis: 17%;  max-width: 17%;}
    .Grid > *[screen="18"]{flex-basis: 18%;  max-width: 18%;}
    .Grid > *[screen="19"]{flex-basis: 19%;  max-width: 19%;}
    .Grid > *[screen="20"]{flex-basis: 20%;  max-width: 20%;}
    .Grid > *[screen="21"]{flex-basis: 21%;  max-width: 21%;}
    .Grid > *[screen="22"]{flex-basis: 22%;  max-width: 22%;}
    .Grid > *[screen="23"]{flex-basis: 23%;  max-width: 23%;}
    .Grid > *[screen="24"]{flex-basis: 24%;  max-width: 24%;}
    .Grid > *[screen="25"]{flex-basis: 25%;  max-width: 25%;}
    .Grid > *[screen="26"]{flex-basis: 26%;  max-width: 26%;}
    .Grid > *[screen="27"]{flex-basis: 27%;  max-width: 27%;}
    .Grid > *[screen="28"]{flex-basis: 28%;  max-width: 28%;}
    .Grid > *[screen="29"]{flex-basis: 29%;  max-width: 29%;}
    .Grid > *[screen="30"]{flex-basis: 30%;  max-width: 30%;}
    .Grid > *[screen="31"]{flex-basis: 31%;  max-width: 31%;}
    .Grid > *[screen="32"]{flex-basis: 32%;  max-width: 32%;}
    .Grid > *[screen="33"]{flex-basis: 33%;  max-width: 33%;}
    .Grid > *[screen="34"]{flex-basis: 34%;  max-width: 34%;}
    .Grid > *[screen="35"]{flex-basis: 35%;  max-width: 35%;}
    .Grid > *[screen="36"]{flex-basis: 36%;  max-width: 36%;}
    .Grid > *[screen="37"]{flex-basis: 37%;  max-width: 37%;}
    .Grid > *[screen="38"]{flex-basis: 38%;  max-width: 38%;}
    .Grid > *[screen="39"]{flex-basis: 39%;  max-width: 39%;}
    .Grid > *[screen="40"]{flex-basis: 40%;  max-width: 40%;}
    .Grid > *[screen="41"]{flex-basis: 41%;  max-width: 41%;}
    .Grid > *[screen="42"]{flex-basis: 42%;  max-width: 42%;}
    .Grid > *[screen="43"]{flex-basis: 43%;  max-width: 43%;}
    .Grid > *[screen="44"]{flex-basis: 44%;  max-width: 44%;}
    .Grid > *[screen="45"]{flex-basis: 45%;  max-width: 45%;}
    .Grid > *[screen="46"]{flex-basis: 46%;  max-width: 46%;}
    .Grid > *[screen="47"]{flex-basis: 47%;  max-width: 47%;}
    .Grid > *[screen="48"]{flex-basis: 48%;  max-width: 48%;}
    .Grid > *[screen="49"]{flex-basis: 49%;  max-width: 49%;}
    .Grid > *[screen="50"]{flex-basis: 50%;  max-width: 50%;}
    .Grid > *[screen="51"]{flex-basis: 51%;  max-width: 51%;}
    .Grid > *[screen="52"]{flex-basis: 52%;  max-width: 52%;}
    .Grid > *[screen="53"]{flex-basis: 53%;  max-width: 53%;}
    .Grid > *[screen="54"]{flex-basis: 54%;  max-width: 54%;}
    .Grid > *[screen="55"]{flex-basis: 55%;  max-width: 55%;}
    .Grid > *[screen="56"]{flex-basis: 56%;  max-width: 56%;}
    .Grid > *[screen="57"]{flex-basis: 57%;  max-width: 57%;}
    .Grid > *[screen="58"]{flex-basis: 58%;  max-width: 58%;}
    .Grid > *[screen="59"]{flex-basis: 59%;  max-width: 59%;}
    .Grid > *[screen="60"]{flex-basis: 60%;  max-width: 60%;}
    .Grid > *[screen="61"]{flex-basis: 61%;  max-width: 61%;}
    .Grid > *[screen="62"]{flex-basis: 62%;  max-width: 62%;}
    .Grid > *[screen="63"]{flex-basis: 63%;  max-width: 63%;}
    .Grid > *[screen="64"]{flex-basis: 64%;  max-width: 64%;}
    .Grid > *[screen="65"]{flex-basis: 65%;  max-width: 65%;}
    .Grid > *[screen="66"]{flex-basis: 66%;  max-width: 66%;}
    .Grid > *[screen="67"]{flex-basis: 67%;  max-width: 67%;}
    .Grid > *[screen="68"]{flex-basis: 68%;  max-width: 68%;}
    .Grid > *[screen="69"]{flex-basis: 69%;  max-width: 69%;}
    .Grid > *[screen="70"]{flex-basis: 70%;  max-width: 70%;}
    .Grid > *[screen="71"]{flex-basis: 71%;  max-width: 71%;}
    .Grid > *[screen="72"]{flex-basis: 72%;  max-width: 72%;}
    .Grid > *[screen="73"]{flex-basis: 73%;  max-width: 73%;}
    .Grid > *[screen="74"]{flex-basis: 74%;  max-width: 74%;}
    .Grid > *[screen="75"]{flex-basis: 75%;  max-width: 75%;}
    .Grid > *[screen="76"]{flex-basis: 76%;  max-width: 76%;}
    .Grid > *[screen="77"]{flex-basis: 77%;  max-width: 77%;}
    .Grid > *[screen="78"]{flex-basis: 78%;  max-width: 78%;}
    .Grid > *[screen="79"]{flex-basis: 79%;  max-width: 79%;}
    .Grid > *[screen="80"]{flex-basis: 80%;  max-width: 80%;}
    .Grid > *[screen="81"]{flex-basis: 81%;  max-width: 81%;}
    .Grid > *[screen="82"]{flex-basis: 82%;  max-width: 82%;}
    .Grid > *[screen="83"]{flex-basis: 83%;  max-width: 83%;}
    .Grid > *[screen="84"]{flex-basis: 84%;  max-width: 84%;}
    .Grid > *[screen="85"]{flex-basis: 85%;  max-width: 85%;}
    .Grid > *[screen="86"]{flex-basis: 86%;  max-width: 86%;}
    .Grid > *[screen="87"]{flex-basis: 87%;  max-width: 87%;}
    .Grid > *[screen="88"]{flex-basis: 88%;  max-width: 88%;}
    .Grid > *[screen="89"]{flex-basis: 89%;  max-width: 89%;}
    .Grid > *[screen="90"]{flex-basis: 90%;  max-width: 90%;}
    .Grid > *[screen="91"]{flex-basis: 91%;  max-width: 91%;}
    .Grid > *[screen="92"]{flex-basis: 92%;  max-width: 92%;}
    .Grid > *[screen="93"]{flex-basis: 93%;  max-width: 93%;}
    .Grid > *[screen="94"]{flex-basis: 94%;  max-width: 94%;}
    .Grid > *[screen="95"]{flex-basis: 95%;  max-width: 95%;}
    .Grid > *[screen="96"]{flex-basis: 96%;  max-width: 96%;}
    .Grid > *[screen="97"]{flex-basis: 97%;  max-width: 97%;}
    .Grid > *[screen="98"]{flex-basis: 98%;  max-width: 98%;}
    .Grid > *[screen="99"]{flex-basis: 99%;  max-width: 99%;}
    .Grid > *[screen="100"]{flex-basis: 100%;  max-width: 100%;}
/* Desk */
    @media (max-width: 1200px) {
        .Grid > *[desk="0"]{flex-basis: 0%;  max-width: 0%;}
        .Grid > *[desk="1"]{flex-basis: 1%;  max-width: 1%;}
        .Grid > *[desk="2"]{flex-basis: 2%;  max-width: 2%;}
        .Grid > *[desk="3"]{flex-basis: 3%;  max-width: 3%;}
        .Grid > *[desk="4"]{flex-basis: 4%;  max-width: 4%;}
        .Grid > *[desk="5"]{flex-basis: 5%;  max-width: 5%;}
        .Grid > *[desk="6"]{flex-basis: 6%;  max-width: 6%;}
        .Grid > *[desk="7"]{flex-basis: 7%;  max-width: 7%;}
        .Grid > *[desk="8"]{flex-basis: 8%;  max-width: 8%;}
        .Grid > *[desk="9"]{flex-basis: 9%;  max-width: 9%;}
        .Grid > *[desk="10"]{flex-basis: 10%;  max-width: 10%;}
        .Grid > *[desk="11"]{flex-basis: 11%;  max-width: 11%;}
        .Grid > *[desk="12"]{flex-basis: 12%;  max-width: 12%;}
        .Grid > *[desk="13"]{flex-basis: 13%;  max-width: 13%;}
        .Grid > *[desk="14"]{flex-basis: 14%;  max-width: 14%;}
        .Grid > *[desk="15"]{flex-basis: 15%;  max-width: 15%;}
        .Grid > *[desk="16"]{flex-basis: 16%;  max-width: 16%;}
        .Grid > *[desk="17"]{flex-basis: 17%;  max-width: 17%;}
        .Grid > *[desk="18"]{flex-basis: 18%;  max-width: 18%;}
        .Grid > *[desk="19"]{flex-basis: 19%;  max-width: 19%;}
        .Grid > *[desk="20"]{flex-basis: 20%;  max-width: 20%;}
        .Grid > *[desk="21"]{flex-basis: 21%;  max-width: 21%;}
        .Grid > *[desk="22"]{flex-basis: 22%;  max-width: 22%;}
        .Grid > *[desk="23"]{flex-basis: 23%;  max-width: 23%;}
        .Grid > *[desk="24"]{flex-basis: 24%;  max-width: 24%;}
        .Grid > *[desk="25"]{flex-basis: 25%;  max-width: 25%;}
        .Grid > *[desk="26"]{flex-basis: 26%;  max-width: 26%;}
        .Grid > *[desk="27"]{flex-basis: 27%;  max-width: 27%;}
        .Grid > *[desk="28"]{flex-basis: 28%;  max-width: 28%;}
        .Grid > *[desk="29"]{flex-basis: 29%;  max-width: 29%;}
        .Grid > *[desk="30"]{flex-basis: 30%;  max-width: 30%;}
        .Grid > *[desk="31"]{flex-basis: 31%;  max-width: 31%;}
        .Grid > *[desk="32"]{flex-basis: 32%;  max-width: 32%;}
        .Grid > *[desk="33"]{flex-basis: 33%;  max-width: 33%;}
        .Grid > *[desk="34"]{flex-basis: 34%;  max-width: 34%;}
        .Grid > *[desk="35"]{flex-basis: 35%;  max-width: 35%;}
        .Grid > *[desk="36"]{flex-basis: 36%;  max-width: 36%;}
        .Grid > *[desk="37"]{flex-basis: 37%;  max-width: 37%;}
        .Grid > *[desk="38"]{flex-basis: 38%;  max-width: 38%;}
        .Grid > *[desk="39"]{flex-basis: 39%;  max-width: 39%;}
        .Grid > *[desk="40"]{flex-basis: 40%;  max-width: 40%;}
        .Grid > *[desk="41"]{flex-basis: 41%;  max-width: 41%;}
        .Grid > *[desk="42"]{flex-basis: 42%;  max-width: 42%;}
        .Grid > *[desk="43"]{flex-basis: 43%;  max-width: 43%;}
        .Grid > *[desk="44"]{flex-basis: 44%;  max-width: 44%;}
        .Grid > *[desk="45"]{flex-basis: 45%;  max-width: 45%;}
        .Grid > *[desk="46"]{flex-basis: 46%;  max-width: 46%;}
        .Grid > *[desk="47"]{flex-basis: 47%;  max-width: 47%;}
        .Grid > *[desk="48"]{flex-basis: 48%;  max-width: 48%;}
        .Grid > *[desk="49"]{flex-basis: 49%;  max-width: 49%;}
        .Grid > *[desk="50"]{flex-basis: 50%;  max-width: 50%;}
        .Grid > *[desk="51"]{flex-basis: 51%;  max-width: 51%;}
        .Grid > *[desk="52"]{flex-basis: 52%;  max-width: 52%;}
        .Grid > *[desk="53"]{flex-basis: 53%;  max-width: 53%;}
        .Grid > *[desk="54"]{flex-basis: 54%;  max-width: 54%;}
        .Grid > *[desk="55"]{flex-basis: 55%;  max-width: 55%;}
        .Grid > *[desk="56"]{flex-basis: 56%;  max-width: 56%;}
        .Grid > *[desk="57"]{flex-basis: 57%;  max-width: 57%;}
        .Grid > *[desk="58"]{flex-basis: 58%;  max-width: 58%;}
        .Grid > *[desk="59"]{flex-basis: 59%;  max-width: 59%;}
        .Grid > *[desk="60"]{flex-basis: 60%;  max-width: 60%;}
        .Grid > *[desk="61"]{flex-basis: 61%;  max-width: 61%;}
        .Grid > *[desk="62"]{flex-basis: 62%;  max-width: 62%;}
        .Grid > *[desk="63"]{flex-basis: 63%;  max-width: 63%;}
        .Grid > *[desk="64"]{flex-basis: 64%;  max-width: 64%;}
        .Grid > *[desk="65"]{flex-basis: 65%;  max-width: 65%;}
        .Grid > *[desk="66"]{flex-basis: 66%;  max-width: 66%;}
        .Grid > *[desk="67"]{flex-basis: 67%;  max-width: 67%;}
        .Grid > *[desk="68"]{flex-basis: 68%;  max-width: 68%;}
        .Grid > *[desk="69"]{flex-basis: 69%;  max-width: 69%;}
        .Grid > *[desk="70"]{flex-basis: 70%;  max-width: 70%;}
        .Grid > *[desk="71"]{flex-basis: 71%;  max-width: 71%;}
        .Grid > *[desk="72"]{flex-basis: 72%;  max-width: 72%;}
        .Grid > *[desk="73"]{flex-basis: 73%;  max-width: 73%;}
        .Grid > *[desk="74"]{flex-basis: 74%;  max-width: 74%;}
        .Grid > *[desk="75"]{flex-basis: 75%;  max-width: 75%;}
        .Grid > *[desk="76"]{flex-basis: 76%;  max-width: 76%;}
        .Grid > *[desk="77"]{flex-basis: 77%;  max-width: 77%;}
        .Grid > *[desk="78"]{flex-basis: 78%;  max-width: 78%;}
        .Grid > *[desk="79"]{flex-basis: 79%;  max-width: 79%;}
        .Grid > *[desk="80"]{flex-basis: 80%;  max-width: 80%;}
        .Grid > *[desk="81"]{flex-basis: 81%;  max-width: 81%;}
        .Grid > *[desk="82"]{flex-basis: 82%;  max-width: 82%;}
        .Grid > *[desk="83"]{flex-basis: 83%;  max-width: 83%;}
        .Grid > *[desk="84"]{flex-basis: 84%;  max-width: 84%;}
        .Grid > *[desk="85"]{flex-basis: 85%;  max-width: 85%;}
        .Grid > *[desk="86"]{flex-basis: 86%;  max-width: 86%;}
        .Grid > *[desk="87"]{flex-basis: 87%;  max-width: 87%;}
        .Grid > *[desk="88"]{flex-basis: 88%;  max-width: 88%;}
        .Grid > *[desk="89"]{flex-basis: 89%;  max-width: 89%;}
        .Grid > *[desk="90"]{flex-basis: 90%;  max-width: 90%;}
        .Grid > *[desk="91"]{flex-basis: 91%;  max-width: 91%;}
        .Grid > *[desk="92"]{flex-basis: 92%;  max-width: 92%;}
        .Grid > *[desk="93"]{flex-basis: 93%;  max-width: 93%;}
        .Grid > *[desk="94"]{flex-basis: 94%;  max-width: 94%;}
        .Grid > *[desk="95"]{flex-basis: 95%;  max-width: 95%;}
        .Grid > *[desk="96"]{flex-basis: 96%;  max-width: 96%;}
        .Grid > *[desk="97"]{flex-basis: 97%;  max-width: 97%;}
        .Grid > *[desk="98"]{flex-basis: 98%;  max-width: 98%;}
        .Grid > *[desk="99"]{flex-basis: 99%;  max-width: 99%;}
        .Grid > *[desk="100"]{flex-basis: 100%;  max-width: 100%;}
    }
/* Book */
    @media (max-width: 1000px) {
        .Grid *[book="0"]{flex-basis: 0%;  max-width: 0%;}
        .Grid *[book="1"]{flex-basis: 1%;  max-width: 1%;}
        .Grid *[book="2"]{flex-basis: 2%;  max-width: 2%;}
        .Grid *[book="3"]{flex-basis: 3%;  max-width: 3%;}
        .Grid *[book="4"]{flex-basis: 4%;  max-width: 4%;}
        .Grid *[book="5"]{flex-basis: 5%;  max-width: 5%;}
        .Grid *[book="6"]{flex-basis: 6%;  max-width: 6%;}
        .Grid *[book="7"]{flex-basis: 7%;  max-width: 7%;}
        .Grid *[book="8"]{flex-basis: 8%;  max-width: 8%;}
        .Grid *[book="9"]{flex-basis: 9%;  max-width: 9%;}
        .Grid *[book="10"]{flex-basis: 10%;  max-width: 10%;}
        .Grid *[book="11"]{flex-basis: 11%;  max-width: 11%;}
        .Grid *[book="12"]{flex-basis: 12%;  max-width: 12%;}
        .Grid *[book="13"]{flex-basis: 13%;  max-width: 13%;}
        .Grid *[book="14"]{flex-basis: 14%;  max-width: 14%;}
        .Grid *[book="15"]{flex-basis: 15%;  max-width: 15%;}
        .Grid *[book="16"]{flex-basis: 16%;  max-width: 16%;}
        .Grid *[book="17"]{flex-basis: 17%;  max-width: 17%;}
        .Grid *[book="18"]{flex-basis: 18%;  max-width: 18%;}
        .Grid *[book="19"]{flex-basis: 19%;  max-width: 19%;}
        .Grid *[book="20"]{flex-basis: 20%;  max-width: 20%;}
        .Grid *[book="21"]{flex-basis: 21%;  max-width: 21%;}
        .Grid *[book="22"]{flex-basis: 22%;  max-width: 22%;}
        .Grid *[book="23"]{flex-basis: 23%;  max-width: 23%;}
        .Grid *[book="24"]{flex-basis: 24%;  max-width: 24%;}
        .Grid *[book="25"]{flex-basis: 25%;  max-width: 25%;}
        .Grid *[book="26"]{flex-basis: 26%;  max-width: 26%;}
        .Grid *[book="27"]{flex-basis: 27%;  max-width: 27%;}
        .Grid *[book="28"]{flex-basis: 28%;  max-width: 28%;}
        .Grid *[book="29"]{flex-basis: 29%;  max-width: 29%;}
        .Grid *[book="30"]{flex-basis: 30%;  max-width: 30%;}
        .Grid *[book="31"]{flex-basis: 31%;  max-width: 31%;}
        .Grid *[book="32"]{flex-basis: 32%;  max-width: 32%;}
        .Grid *[book="33"]{flex-basis: 33%;  max-width: 33%;}
        .Grid *[book="34"]{flex-basis: 34%;  max-width: 34%;}
        .Grid *[book="35"]{flex-basis: 35%;  max-width: 35%;}
        .Grid *[book="36"]{flex-basis: 36%;  max-width: 36%;}
        .Grid *[book="37"]{flex-basis: 37%;  max-width: 37%;}
        .Grid *[book="38"]{flex-basis: 38%;  max-width: 38%;}
        .Grid *[book="39"]{flex-basis: 39%;  max-width: 39%;}
        .Grid *[book="40"]{flex-basis: 40%;  max-width: 40%;}
        .Grid *[book="41"]{flex-basis: 41%;  max-width: 41%;}
        .Grid *[book="42"]{flex-basis: 42%;  max-width: 42%;}
        .Grid *[book="43"]{flex-basis: 43%;  max-width: 43%;}
        .Grid *[book="44"]{flex-basis: 44%;  max-width: 44%;}
        .Grid *[book="45"]{flex-basis: 45%;  max-width: 45%;}
        .Grid *[book="46"]{flex-basis: 46%;  max-width: 46%;}
        .Grid *[book="47"]{flex-basis: 47%;  max-width: 47%;}
        .Grid *[book="48"]{flex-basis: 48%;  max-width: 48%;}
        .Grid *[book="49"]{flex-basis: 49%;  max-width: 49%;}
        .Grid *[book="50"]{flex-basis: 50%;  max-width: 50%;}
        .Grid *[book="51"]{flex-basis: 51%;  max-width: 51%;}
        .Grid *[book="52"]{flex-basis: 52%;  max-width: 52%;}
        .Grid *[book="53"]{flex-basis: 53%;  max-width: 53%;}
        .Grid *[book="54"]{flex-basis: 54%;  max-width: 54%;}
        .Grid *[book="55"]{flex-basis: 55%;  max-width: 55%;}
        .Grid *[book="56"]{flex-basis: 56%;  max-width: 56%;}
        .Grid *[book="57"]{flex-basis: 57%;  max-width: 57%;}
        .Grid *[book="58"]{flex-basis: 58%;  max-width: 58%;}
        .Grid *[book="59"]{flex-basis: 59%;  max-width: 59%;}
        .Grid *[book="60"]{flex-basis: 60%;  max-width: 60%;}
        .Grid *[book="61"]{flex-basis: 61%;  max-width: 61%;}
        .Grid *[book="62"]{flex-basis: 62%;  max-width: 62%;}
        .Grid *[book="63"]{flex-basis: 63%;  max-width: 63%;}
        .Grid *[book="64"]{flex-basis: 64%;  max-width: 64%;}
        .Grid *[book="65"]{flex-basis: 65%;  max-width: 65%;}
        .Grid *[book="66"]{flex-basis: 66%;  max-width: 66%;}
        .Grid *[book="67"]{flex-basis: 67%;  max-width: 67%;}
        .Grid *[book="68"]{flex-basis: 68%;  max-width: 68%;}
        .Grid *[book="69"]{flex-basis: 69%;  max-width: 69%;}
        .Grid *[book="70"]{flex-basis: 70%;  max-width: 70%;}
        .Grid *[book="71"]{flex-basis: 71%;  max-width: 71%;}
        .Grid *[book="72"]{flex-basis: 72%;  max-width: 72%;}
        .Grid *[book="73"]{flex-basis: 73%;  max-width: 73%;}
        .Grid *[book="74"]{flex-basis: 74%;  max-width: 74%;}
        .Grid *[book="75"]{flex-basis: 75%;  max-width: 75%;}
        .Grid *[book="76"]{flex-basis: 76%;  max-width: 76%;}
        .Grid *[book="77"]{flex-basis: 77%;  max-width: 77%;}
        .Grid *[book="78"]{flex-basis: 78%;  max-width: 78%;}
        .Grid *[book="79"]{flex-basis: 79%;  max-width: 79%;}
        .Grid *[book="80"]{flex-basis: 80%;  max-width: 80%;}
        .Grid *[book="81"]{flex-basis: 81%;  max-width: 81%;}
        .Grid *[book="82"]{flex-basis: 82%;  max-width: 82%;}
        .Grid *[book="83"]{flex-basis: 83%;  max-width: 83%;}
        .Grid *[book="84"]{flex-basis: 84%;  max-width: 84%;}
        .Grid *[book="85"]{flex-basis: 85%;  max-width: 85%;}
        .Grid *[book="86"]{flex-basis: 86%;  max-width: 86%;}
        .Grid *[book="87"]{flex-basis: 87%;  max-width: 87%;}
        .Grid *[book="88"]{flex-basis: 88%;  max-width: 88%;}
        .Grid *[book="89"]{flex-basis: 89%;  max-width: 89%;}
        .Grid *[book="90"]{flex-basis: 90%;  max-width: 90%;}
        .Grid *[book="91"]{flex-basis: 91%;  max-width: 91%;}
        .Grid *[book="92"]{flex-basis: 92%;  max-width: 92%;}
        .Grid *[book="93"]{flex-basis: 93%;  max-width: 93%;}
        .Grid *[book="94"]{flex-basis: 94%;  max-width: 94%;}
        .Grid *[book="95"]{flex-basis: 95%;  max-width: 95%;}
        .Grid *[book="96"]{flex-basis: 96%;  max-width: 96%;}
        .Grid *[book="97"]{flex-basis: 97%;  max-width: 97%;}
        .Grid *[book="98"]{flex-basis: 98%;  max-width: 98%;}
        .Grid *[book="99"]{flex-basis: 99%;  max-width: 99%;}
        .Grid *[book="100"]{flex-basis: 100%;  max-width: 100%;}
    }
/* Tablet */
    @media (max-width: 800px) {
        .Grid *[tablet="0"]{flex-basis: 0%;  max-width: 0%;}
        .Grid *[tablet="1"]{flex-basis: 1%;  max-width: 1%;}
        .Grid *[tablet="2"]{flex-basis: 2%;  max-width: 2%;}
        .Grid *[tablet="3"]{flex-basis: 3%;  max-width: 3%;}
        .Grid *[tablet="4"]{flex-basis: 4%;  max-width: 4%;}
        .Grid *[tablet="5"]{flex-basis: 5%;  max-width: 5%;}
        .Grid *[tablet="6"]{flex-basis: 6%;  max-width: 6%;}
        .Grid *[tablet="7"]{flex-basis: 7%;  max-width: 7%;}
        .Grid *[tablet="8"]{flex-basis: 8%;  max-width: 8%;}
        .Grid *[tablet="9"]{flex-basis: 9%;  max-width: 9%;}
        .Grid *[tablet="10"]{flex-basis: 10%;  max-width: 10%;}
        .Grid *[tablet="11"]{flex-basis: 11%;  max-width: 11%;}
        .Grid *[tablet="12"]{flex-basis: 12%;  max-width: 12%;}
        .Grid *[tablet="13"]{flex-basis: 13%;  max-width: 13%;}
        .Grid *[tablet="14"]{flex-basis: 14%;  max-width: 14%;}
        .Grid *[tablet="15"]{flex-basis: 15%;  max-width: 15%;}
        .Grid *[tablet="16"]{flex-basis: 16%;  max-width: 16%;}
        .Grid *[tablet="17"]{flex-basis: 17%;  max-width: 17%;}
        .Grid *[tablet="18"]{flex-basis: 18%;  max-width: 18%;}
        .Grid *[tablet="19"]{flex-basis: 19%;  max-width: 19%;}
        .Grid *[tablet="20"]{flex-basis: 20%;  max-width: 20%;}
        .Grid *[tablet="21"]{flex-basis: 21%;  max-width: 21%;}
        .Grid *[tablet="22"]{flex-basis: 22%;  max-width: 22%;}
        .Grid *[tablet="23"]{flex-basis: 23%;  max-width: 23%;}
        .Grid *[tablet="24"]{flex-basis: 24%;  max-width: 24%;}
        .Grid *[tablet="25"]{flex-basis: 25%;  max-width: 25%;}
        .Grid *[tablet="26"]{flex-basis: 26%;  max-width: 26%;}
        .Grid *[tablet="27"]{flex-basis: 27%;  max-width: 27%;}
        .Grid *[tablet="28"]{flex-basis: 28%;  max-width: 28%;}
        .Grid *[tablet="29"]{flex-basis: 29%;  max-width: 29%;}
        .Grid *[tablet="30"]{flex-basis: 30%;  max-width: 30%;}
        .Grid *[tablet="31"]{flex-basis: 31%;  max-width: 31%;}
        .Grid *[tablet="32"]{flex-basis: 32%;  max-width: 32%;}
        .Grid *[tablet="33"]{flex-basis: 33%;  max-width: 33%;}
        .Grid *[tablet="34"]{flex-basis: 34%;  max-width: 34%;}
        .Grid *[tablet="35"]{flex-basis: 35%;  max-width: 35%;}
        .Grid *[tablet="36"]{flex-basis: 36%;  max-width: 36%;}
        .Grid *[tablet="37"]{flex-basis: 37%;  max-width: 37%;}
        .Grid *[tablet="38"]{flex-basis: 38%;  max-width: 38%;}
        .Grid *[tablet="39"]{flex-basis: 39%;  max-width: 39%;}
        .Grid *[tablet="40"]{flex-basis: 40%;  max-width: 40%;}
        .Grid *[tablet="41"]{flex-basis: 41%;  max-width: 41%;}
        .Grid *[tablet="42"]{flex-basis: 42%;  max-width: 42%;}
        .Grid *[tablet="43"]{flex-basis: 43%;  max-width: 43%;}
        .Grid *[tablet="44"]{flex-basis: 44%;  max-width: 44%;}
        .Grid *[tablet="45"]{flex-basis: 45%;  max-width: 45%;}
        .Grid *[tablet="46"]{flex-basis: 46%;  max-width: 46%;}
        .Grid *[tablet="47"]{flex-basis: 47%;  max-width: 47%;}
        .Grid *[tablet="48"]{flex-basis: 48%;  max-width: 48%;}
        .Grid *[tablet="49"]{flex-basis: 49%;  max-width: 49%;}
        .Grid *[tablet="50"]{flex-basis: 50%;  max-width: 50%;}
        .Grid *[tablet="51"]{flex-basis: 51%;  max-width: 51%;}
        .Grid *[tablet="52"]{flex-basis: 52%;  max-width: 52%;}
        .Grid *[tablet="53"]{flex-basis: 53%;  max-width: 53%;}
        .Grid *[tablet="54"]{flex-basis: 54%;  max-width: 54%;}
        .Grid *[tablet="55"]{flex-basis: 55%;  max-width: 55%;}
        .Grid *[tablet="56"]{flex-basis: 56%;  max-width: 56%;}
        .Grid *[tablet="57"]{flex-basis: 57%;  max-width: 57%;}
        .Grid *[tablet="58"]{flex-basis: 58%;  max-width: 58%;}
        .Grid *[tablet="59"]{flex-basis: 59%;  max-width: 59%;}
        .Grid *[tablet="60"]{flex-basis: 60%;  max-width: 60%;}
        .Grid *[tablet="61"]{flex-basis: 61%;  max-width: 61%;}
        .Grid *[tablet="62"]{flex-basis: 62%;  max-width: 62%;}
        .Grid *[tablet="63"]{flex-basis: 63%;  max-width: 63%;}
        .Grid *[tablet="64"]{flex-basis: 64%;  max-width: 64%;}
        .Grid *[tablet="65"]{flex-basis: 65%;  max-width: 65%;}
        .Grid *[tablet="66"]{flex-basis: 66%;  max-width: 66%;}
        .Grid *[tablet="67"]{flex-basis: 67%;  max-width: 67%;}
        .Grid *[tablet="68"]{flex-basis: 68%;  max-width: 68%;}
        .Grid *[tablet="69"]{flex-basis: 69%;  max-width: 69%;}
        .Grid *[tablet="70"]{flex-basis: 70%;  max-width: 70%;}
        .Grid *[tablet="71"]{flex-basis: 71%;  max-width: 71%;}
        .Grid *[tablet="72"]{flex-basis: 72%;  max-width: 72%;}
        .Grid *[tablet="73"]{flex-basis: 73%;  max-width: 73%;}
        .Grid *[tablet="74"]{flex-basis: 74%;  max-width: 74%;}
        .Grid *[tablet="75"]{flex-basis: 75%;  max-width: 75%;}
        .Grid *[tablet="76"]{flex-basis: 76%;  max-width: 76%;}
        .Grid *[tablet="77"]{flex-basis: 77%;  max-width: 77%;}
        .Grid *[tablet="78"]{flex-basis: 78%;  max-width: 78%;}
        .Grid *[tablet="79"]{flex-basis: 79%;  max-width: 79%;}
        .Grid *[tablet="80"]{flex-basis: 80%;  max-width: 80%;}
        .Grid *[tablet="81"]{flex-basis: 81%;  max-width: 81%;}
        .Grid *[tablet="82"]{flex-basis: 82%;  max-width: 82%;}
        .Grid *[tablet="83"]{flex-basis: 83%;  max-width: 83%;}
        .Grid *[tablet="84"]{flex-basis: 84%;  max-width: 84%;}
        .Grid *[tablet="85"]{flex-basis: 85%;  max-width: 85%;}
        .Grid *[tablet="86"]{flex-basis: 86%;  max-width: 86%;}
        .Grid *[tablet="87"]{flex-basis: 87%;  max-width: 87%;}
        .Grid *[tablet="88"]{flex-basis: 88%;  max-width: 88%;}
        .Grid *[tablet="89"]{flex-basis: 89%;  max-width: 89%;}
        .Grid *[tablet="90"]{flex-basis: 90%;  max-width: 90%;}
        .Grid *[tablet="91"]{flex-basis: 91%;  max-width: 91%;}
        .Grid *[tablet="92"]{flex-basis: 92%;  max-width: 92%;}
        .Grid *[tablet="93"]{flex-basis: 93%;  max-width: 93%;}
        .Grid *[tablet="94"]{flex-basis: 94%;  max-width: 94%;}
        .Grid *[tablet="95"]{flex-basis: 95%;  max-width: 95%;}
        .Grid *[tablet="96"]{flex-basis: 96%;  max-width: 96%;}
        .Grid *[tablet="97"]{flex-basis: 97%;  max-width: 97%;}
        .Grid *[tablet="98"]{flex-basis: 98%;  max-width: 98%;}
        .Grid *[tablet="99"]{flex-basis: 99%;  max-width: 99%;}
        .Grid *[tablet="100"]{flex-basis: 100%;  max-width: 100%;}
    }
/* Phone */
    @media (max-width: 480px) {
        .Grid *[phone="0"]{flex-basis: 0%;  max-width: 0%;}
        .Grid *[phone="1"]{flex-basis: 1%;  max-width: 1%;}
        .Grid *[phone="2"]{flex-basis: 2%;  max-width: 2%;}
        .Grid *[phone="3"]{flex-basis: 3%;  max-width: 3%;}
        .Grid *[phone="4"]{flex-basis: 4%;  max-width: 4%;}
        .Grid *[phone="5"]{flex-basis: 5%;  max-width: 5%;}
        .Grid *[phone="6"]{flex-basis: 6%;  max-width: 6%;}
        .Grid *[phone="7"]{flex-basis: 7%;  max-width: 7%;}
        .Grid *[phone="8"]{flex-basis: 8%;  max-width: 8%;}
        .Grid *[phone="9"]{flex-basis: 9%;  max-width: 9%;}
        .Grid *[phone="10"]{flex-basis: 10%;  max-width: 10%;}
        .Grid *[phone="11"]{flex-basis: 11%;  max-width: 11%;}
        .Grid *[phone="12"]{flex-basis: 12%;  max-width: 12%;}
        .Grid *[phone="13"]{flex-basis: 13%;  max-width: 13%;}
        .Grid *[phone="14"]{flex-basis: 14%;  max-width: 14%;}
        .Grid *[phone="15"]{flex-basis: 15%;  max-width: 15%;}
        .Grid *[phone="16"]{flex-basis: 16%;  max-width: 16%;}
        .Grid *[phone="17"]{flex-basis: 17%;  max-width: 17%;}
        .Grid *[phone="18"]{flex-basis: 18%;  max-width: 18%;}
        .Grid *[phone="19"]{flex-basis: 19%;  max-width: 19%;}
        .Grid *[phone="20"]{flex-basis: 20%;  max-width: 20%;}
        .Grid *[phone="21"]{flex-basis: 21%;  max-width: 21%;}
        .Grid *[phone="22"]{flex-basis: 22%;  max-width: 22%;}
        .Grid *[phone="23"]{flex-basis: 23%;  max-width: 23%;}
        .Grid *[phone="24"]{flex-basis: 24%;  max-width: 24%;}
        .Grid *[phone="25"]{flex-basis: 25%;  max-width: 25%;}
        .Grid *[phone="26"]{flex-basis: 26%;  max-width: 26%;}
        .Grid *[phone="27"]{flex-basis: 27%;  max-width: 27%;}
        .Grid *[phone="28"]{flex-basis: 28%;  max-width: 28%;}
        .Grid *[phone="29"]{flex-basis: 29%;  max-width: 29%;}
        .Grid *[phone="30"]{flex-basis: 30%;  max-width: 30%;}
        .Grid *[phone="31"]{flex-basis: 31%;  max-width: 31%;}
        .Grid *[phone="32"]{flex-basis: 32%;  max-width: 32%;}
        .Grid *[phone="33"]{flex-basis: 33%;  max-width: 33%;}
        .Grid *[phone="34"]{flex-basis: 34%;  max-width: 34%;}
        .Grid *[phone="35"]{flex-basis: 35%;  max-width: 35%;}
        .Grid *[phone="36"]{flex-basis: 36%;  max-width: 36%;}
        .Grid *[phone="37"]{flex-basis: 37%;  max-width: 37%;}
        .Grid *[phone="38"]{flex-basis: 38%;  max-width: 38%;}
        .Grid *[phone="39"]{flex-basis: 39%;  max-width: 39%;}
        .Grid *[phone="40"]{flex-basis: 40%;  max-width: 40%;}
        .Grid *[phone="41"]{flex-basis: 41%;  max-width: 41%;}
        .Grid *[phone="42"]{flex-basis: 42%;  max-width: 42%;}
        .Grid *[phone="43"]{flex-basis: 43%;  max-width: 43%;}
        .Grid *[phone="44"]{flex-basis: 44%;  max-width: 44%;}
        .Grid *[phone="45"]{flex-basis: 45%;  max-width: 45%;}
        .Grid *[phone="46"]{flex-basis: 46%;  max-width: 46%;}
        .Grid *[phone="47"]{flex-basis: 47%;  max-width: 47%;}
        .Grid *[phone="48"]{flex-basis: 48%;  max-width: 48%;}
        .Grid *[phone="49"]{flex-basis: 49%;  max-width: 49%;}
        .Grid *[phone="50"]{flex-basis: 50%;  max-width: 50%;}
        .Grid *[phone="51"]{flex-basis: 51%;  max-width: 51%;}
        .Grid *[phone="52"]{flex-basis: 52%;  max-width: 52%;}
        .Grid *[phone="53"]{flex-basis: 53%;  max-width: 53%;}
        .Grid *[phone="54"]{flex-basis: 54%;  max-width: 54%;}
        .Grid *[phone="55"]{flex-basis: 55%;  max-width: 55%;}
        .Grid *[phone="56"]{flex-basis: 56%;  max-width: 56%;}
        .Grid *[phone="57"]{flex-basis: 57%;  max-width: 57%;}
        .Grid *[phone="58"]{flex-basis: 58%;  max-width: 58%;}
        .Grid *[phone="59"]{flex-basis: 59%;  max-width: 59%;}
        .Grid *[phone="60"]{flex-basis: 60%;  max-width: 60%;}
        .Grid *[phone="61"]{flex-basis: 61%;  max-width: 61%;}
        .Grid *[phone="62"]{flex-basis: 62%;  max-width: 62%;}
        .Grid *[phone="63"]{flex-basis: 63%;  max-width: 63%;}
        .Grid *[phone="64"]{flex-basis: 64%;  max-width: 64%;}
        .Grid *[phone="65"]{flex-basis: 65%;  max-width: 65%;}
        .Grid *[phone="66"]{flex-basis: 66%;  max-width: 66%;}
        .Grid *[phone="67"]{flex-basis: 67%;  max-width: 67%;}
        .Grid *[phone="68"]{flex-basis: 68%;  max-width: 68%;}
        .Grid *[phone="69"]{flex-basis: 69%;  max-width: 69%;}
        .Grid *[phone="70"]{flex-basis: 70%;  max-width: 70%;}
        .Grid *[phone="71"]{flex-basis: 71%;  max-width: 71%;}
        .Grid *[phone="72"]{flex-basis: 72%;  max-width: 72%;}
        .Grid *[phone="73"]{flex-basis: 73%;  max-width: 73%;}
        .Grid *[phone="74"]{flex-basis: 74%;  max-width: 74%;}
        .Grid *[phone="75"]{flex-basis: 75%;  max-width: 75%;}
        .Grid *[phone="76"]{flex-basis: 76%;  max-width: 76%;}
        .Grid *[phone="77"]{flex-basis: 77%;  max-width: 77%;}
        .Grid *[phone="78"]{flex-basis: 78%;  max-width: 78%;}
        .Grid *[phone="79"]{flex-basis: 79%;  max-width: 79%;}
        .Grid *[phone="80"]{flex-basis: 80%;  max-width: 80%;}
        .Grid *[phone="81"]{flex-basis: 81%;  max-width: 81%;}
        .Grid *[phone="82"]{flex-basis: 82%;  max-width: 82%;}
        .Grid *[phone="83"]{flex-basis: 83%;  max-width: 83%;}
        .Grid *[phone="84"]{flex-basis: 84%;  max-width: 84%;}
        .Grid *[phone="85"]{flex-basis: 85%;  max-width: 85%;}
        .Grid *[phone="86"]{flex-basis: 86%;  max-width: 86%;}
        .Grid *[phone="87"]{flex-basis: 87%;  max-width: 87%;}
        .Grid *[phone="88"]{flex-basis: 88%;  max-width: 88%;}
        .Grid *[phone="89"]{flex-basis: 89%;  max-width: 89%;}
        .Grid *[phone="90"]{flex-basis: 90%;  max-width: 90%;}
        .Grid *[phone="91"]{flex-basis: 91%;  max-width: 91%;}
        .Grid *[phone="92"]{flex-basis: 92%;  max-width: 92%;}
        .Grid *[phone="93"]{flex-basis: 93%;  max-width: 93%;}
        .Grid *[phone="94"]{flex-basis: 94%;  max-width: 94%;}
        .Grid *[phone="95"]{flex-basis: 95%;  max-width: 95%;}
        .Grid *[phone="96"]{flex-basis: 96%;  max-width: 96%;}
        .Grid *[phone="97"]{flex-basis: 97%;  max-width: 97%;}
        .Grid *[phone="98"]{flex-basis: 98%;  max-width: 98%;}
        .Grid *[phone="99"]{flex-basis: 99%;  max-width: 99%;}
        .Grid *[phone="100"]{flex-basis: 100%;  max-width: 100%;}
    }