<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profiles</title>
        <link rel="stylesheet" href="style.css" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="Profiles">
            <ul>
                <li>
                    <a href="/#test">
                        <s style="background-image:url(images/1.jpg)"></s>
                        <b>Linus Torvalds</b>
                        <span>@linux</span>
                    </a>
                </li>
                <li>
                    <a href="/#test">
                        <u style="background-image:url(images/2.jpg)"></u>
                        <b>Tim Berners-Lee</b>
                        <span>@web</span>
                    </a>
                </li>
                <li>
                    <a href="/#test">
                        <u style="background-image:url(images/3.jpg)"></u>
                        <b>Dennis Ritchie</b>
                        <span>@c</span>
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>