.Modal{ position: fixed; top: 0; left: 0; right: 0; display: none;}
.Modal:target{ display: block;}
.Modal-space{ margin: 300px;}
.Modal:after{z-index: 9; position: fixed; background: rgba(0,0,0,0.3); top: 0; left: 0; right: 0; bottom: 0; display: block; content: "";}
.Modal > div{z-index: 10; background: #fff;  top: 20px;  position: fixed;max-width: 400px; width: 100%; box-shadow: 0px 2px 10px rgba(0,0,0,0.2); left: 50%; transform: translate(-50%, 0%);;}
.Modal > div:first-child{ position: relative;min-height: 50px ;}
.Modal > div:first-child > code:after{ content: "\f00d"; font-family: "Icons";}
.Modal > div a{ padding: 40px; display: block;}
.Modal > div:first-child > code{z-index: 1; cursor: pointer; line-height: 50px; text-align: center; height: 50px; width: 50px; font-size: 20px; position: absolute; margin-top: -25px; right: 5%; top: 50%; color: rgb(230, 130, 130);;}
.Modal > div:first-child > code:hover::before{ transform: rotate(180deg);}
.Modal > div:first-child > div{padding: 5% 7%; border-bottom: 1px solid #aaa;position: relative; ;}
.Modal > div:first-child > div i{ height: 50px; line-height: 50px; margin-top: -25px; position: absolute; left:0px; top: 50%; width:15%; text-align: center; font-size: 30px;}
.Modal > div:first-child > div strong{ font-size: 17px; display: block; }
.Modal > div:first-child > div p{ padding: 0px; margin: 0; display: block; color: #aaa;  font-size: 12px; display: block; }
.Modal > div:first-child > div strong:nth-child(2){ padding-left: 7%;}
.Modal > div:first-child > div p:nth-child(3){ padding-left:  7%;}


.Placeholder{ padding: 20%; background: #888; color: #fff;text-align: center;  content: "TEST CONTENT"; display: block;}
.Placeholder:before{ content: "TEST CONTENT";letter-spacing: 2px; font-size: 15px;}
.Placeholder:after{ content: "CSS INDEPENDIENT"; display: block; font-size: 11px; color: rgba(255,255,255,0.4);}
/* Responsive */
    @media only screen and (max-width:450px) {
        .Modal > div:first-child > div i{ display: none;}
        .Modal > div:first-child > div strong:nth-child(2){ padding-left: 0px;}
        .Modal > div:first-child > div p:nth-child(3){ padding-left: 0px;}

    }
/* Print */
    @media print {
        .Modal{ display: none;}
    }