<!DOCTYPE html>
<html>
    <head>
        <title>Button</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    </head>
    <body>
        <button type="button">Basic</button>
        <button type="button" class="cancel">Cancel</button>
        <button type="button" class="success">Success</button>
        <button type="button" class="warning">Warning</button>
        <a href="#button" class="Button">Link</a>
        <a href="#button" class="Button link">Link with icon</a>
        <button type="button" class="information">Information</button>
        <button type="button" class="danger">Danger</button>
        <button type="button" class="back">Back</button>
        <button type="button" class="next">Next</button>
    </body>
</html>