/* Placeholder */
    .Accordion .Placeholder{ padding: 10%; color: #fff;text-align: center;  content: "TEST CONTENT"; display: block;}
    .Accordion .Placeholder:before{ content: "TEST CONTENT";letter-spacing: 2px; font-size: 15px;}
    .Accordion .Placeholder:after{ content: "CSS INDEPENDIENT"; display: block; font-size: 11px; color: rgba(255,255,255,0.4);}