<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Selector</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="Selector">
            <input type="radio"     title="Pablo"       name="selector">
            <input type="radio"     title="Édouard"     name="selector">
            <input type="radio"     title="Gustave"     name="selector">
            <input type="radio"     title="René"        name="selector">
            <input type="radio"     title="Salvador"    name="selector">
            <input type="radio"     title="Edgar"       name="selector">
            <input type="radio"     title="Edward"      name="selector">
            <input type="radio"     title="Wassily"     name="selector">
        </div>
    </body>
</html>