<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="Profile">
            <div></div>
            <div></div>
            <strong>Salbatore Munuera</strong>
            <i>@salbatore</i>
            <p>I work in Alicunde Systems and I love programming.</p>
            <ol>
                <li>
                    <a href="/message">&nbsp;</a>
                </li>
                <li>
                    <del></del>
                </li>
            </ol>
            <ul>
                <li>
                    <b>985</b> Following
                </li>
                <li>
                    <b>18.6K</b> Followers
                </li>
            </ul>
        </div>
    </body>
</html>