<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Products</title>
        <link rel="stylesheet" href="style.css" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="Products">
            <ul>
                <li>
                    <a href="#test">
                        <picture title="10">
                            <img alt="Test" src="images/1.jpg">
                        </picture>
                        <h4>Burberry</h4>
                        <h3>Kensington</h3>
                        <p>2 colors</p>
                        <p> 1723.30 €</p>
                    </a>
                </li>
                <li>
                    <a href="#test">
                        <picture title="10">
                            <img alt="Test" src="images/2.jpg">
                            <video playsinline="playsinline" loop="" autoplay="" muted="">
                                <source src="videos/2.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">Video not supported.</video>
                        </picture>
                        <h4>Burberry</h4>
                        <h3>Heritage</h3>
                        <p>1 color</p>
                        <p> 1723.30 €</p>
                    </a>
                </li>
                <li>
                    <a href="#test">
                        <picture title="10">
                            <img alt="Test" src="images/3.jpg">
                        </picture>
                        <h4>Burberry</h4>
                        <h3>Coat Camden</h3>
                        <p>6 colors</p>
                        <p> 1723.30 €</p>
                    </a>
                </li>
                <li>
                    <a href="#test">
                        <picture title="10">
                            <img alt="Test" src="images/4.jpg">
                        </picture>
                        <h4>Burberry</h4>
                        <h3>Wimbledon</h3>
                        <p>4 colors</p>
                        <p> 1723.30 €</p>
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>