<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Slide</title>
        <link rel="stylesheet" href="style.css" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="Slide">
            <a id="0" href="#0">0</a>
            <div>
                <div>
                    <h2 screen="five">El arte de la maravillosa china meridional</h2>
                    <h3>Nikita Jrushchov</h3>
                    <p>Moscow, Russia</p>
                    <a class="Button" href="#text">Read more</a>
                </div>
            </div>
            <a id="1" href="#1">1</a>
            <div>
                <div>
                    <video playsinline="playsinline" loop="" autoplay="" muted="">
                        <source src="videos/1.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">Video not supported.</video>
                    <h2 screen="five">El arte de la maravillosa china meridional</h2>
                    <h3>Nikita Jrushchov</h3>
                    <p>Madrid, Spain</p>
                    <a class="Button" href="#text">Read more</a>
                </div>
            </div>
            <a id="2" href="#2">2</a>
            <div>
                <div>
                    <h2 screen="five">El arte de la maravillosa china meridional</h2>
                    <h3>Nikita Jrushchov</h3>
                    <p>Paris, France</p>
                    <a class="Button" href="#text">Read more</a>
                </div>
            </div>
        </div>
    </body>
</html>