<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>List</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    </head>
    <body>
        <div class="List">
            <ul>
                <li>
                    <p>
                        <i class="las la-cat"></i> Cats <u>I want a cat!</u> <b>23</b>
                    </p>
                </li>
                <li>
                    <a href="#test">
                        <i class="las la-frog"></i> Link <u>Animales que saltan</u>
                    </a>
                    <div class="List">
                        <ul>
                            <li>
                                <p>
                                    Animal without icon <u>No me quemes</u>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="las la-horse"></i> Horses <b>23</b>
                                </p>
                                <div class="List">
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="las la-apple-alt"></i> Apples
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p>
                                    <i class="las la-dragon"></i> Dragon <b>23</b>
                                </p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <p>
                        <i class="las la-dove"></i> Dove
                    </p>
                    <div>
                        <div class="Placeholder"></div>
                    </div>
                </li>
                <li>
                    <p>
                        <i class="las la-fish"></i> Fish <u>in the water</u>
                    </p>
                </li>
            </ul>
        </div>
    </body>
</html>