/* Font */
* {font-family: 'Open Sans', sans-serif;}
/* Body */
    body{ background: #666;}
/* List */
    body > ul{ margin:20px 10px; padding: 0; display: block;}
    body > ul > li{ overflow: hidden; box-shadow: 0px 5px 10px rgba(0,0,0,0.1); display: block; margin-bottom: 10px; background: #fff; padding:0px;}
    body > ul > li > h2{background-color: #333; color: #fff; font-weight: 100; padding: 1rem 1.5rem; border-bottom: 1px solid #ddd; margin: 0; display: block; font-size: .9em; }