<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Colored</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="Colored">
            <input type="radio" style="background-color:#f6d258" name="color">
            <input type="radio" style="background-color:#efcec5" name="color">
            <input type="radio" style="background-color:#d1af94" name="color">
            <input type="radio" style="background-color:#97d5e0" name="color">
            <input type="radio" style="background-color:#88b14b" name="color">
            <input type="radio" style="background-color:#ef562d" name="color">
            <input type="radio" style="background-color:#d13076" name="color">
            <input type="radio" style="background-color:#5587a2" name="color">
            <input type="radio" style="background-color:#5c7148" name="color">
            <input type="radio" style="background-color:#0c4c8a" name="color">
            <input type="radio" style="background-color:#4c6a92" name="color">
            <input type="radio" style="background-color:#92b6d5" name="color">
            <input type="radio" style="background-color:#838487" name="color">
        </div>
    </body>
</html>