/* General */
    :root{ 
        --background:url(images/2.jpg);
        --alternative:url(images/1.jpg);
        --transparency:repeating-linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0) 10px, rgba(0,69,255,1) 10px, rgba(0,69,255,1) 20px)
    }