<!DOCTYPE html>
<html>
    <head>
        <title>Super Div</title>
        <link rel="stylesheet" href="../Reset/style.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <script src="script.js"></script>
    </head>
    <body>
      <h1>Only <strong>1 DIV</strong></h1>
      <h3><a href="https://github.com/Alicunde/HTML">GITHUB PROYECT</a></h3>
      <div id="Test"></div>
    </body>
</html>