<!DOCTYPE html>
<html>
    <head>
        <title>Articles</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    </head>
    <body>
        <div class="Articles">
            <ul>
                <li>
                    <picture title="2 days ago">
                        <img alt="Test" src="images/1.jpg">
                    </picture>
                    <h3>Consectetur adipis cing</h3>
                    <strong>Salbatore Munuera</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="#test">Read more</a>
                </li>
                <li>
                    <picture title="2 days ago">
                        <img alt="Test" src="images/2.jpg">
                    </picture>
                    <h3>Sed do eiusmod tempor</h3>
                    <strong>Miguel de Cervantes</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="#test">Read more</a>
                </li>
                <li>
                    <picture title="2 days ago">
                        <img alt="Test" src="images/3.jpg">
                    </picture>
                    <h3>Ut enim ad minim veniam</h3>
                    <strong>Pablo Neruda</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="#test">Read more</a>
                </li>
                <li>
                    <picture title="2 days ago">
                        <img alt="Test" src="images/4.jpg">
                    </picture>
                    <h3>Aliquip ex ea commodo</h3>
                    <strong>J. D. Salinger</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="#test">Read more</a>
                </li>
            </ul>
        </div>
    </body>
</html>