<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Accordion</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="placeholder.css">
    </head>
    <body>
        <div class="Accordion">
            <ul>
                <li>
                    <input type="checkbox" id="accordion-0">
                    <label for="accordion-0">
                        Spain <i>46.791.000 inhabitants</i>
                        <a href="#test">Read more</a>
                    </label>
                    <div>
                        <div class="Placeholder"></div>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="accordion-1">
                    <label for="accordion-1">
                        France <i>65.236.000 inhabitants</i>
                        <a href="#test">Read more</a>
                    </label>
                    <div>
                        <div class="Placeholder"></div>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="accordion-2">
                    <label for="accordion-2">
                        Germany <i>83.082.000 inhabitants</i>
                        <a href="#test">Read more</a>
                    </label>
                    <div>
                        <div class="Placeholder"></div>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>