<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Product</title>
        <link rel="stylesheet" href="style.css" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="Product">
            <ol>
                <li>
                    <input type="radio" checked="" name="picture" id="product-1">
                    <img alt="Test" src="images/1.jpg">
                </li>
                <li>
                    <input type="radio" name="picture" id="product-2">
                    <img alt="Test" src="images/2.jpg">
                </li>
                <li>
                    <input type="radio" name="picture" id="product-3">
                    <img alt="Test" src="images/3.jpg">
                </li>
            </ol>
            <ul>
                <li>
                    <label for="product-1">
                        <img alt="Test" src="images/1.jpg">
                    </label>
                </li>
                <li>
                    <label for="product-2">
                        <img alt="Test" src="images/2.jpg">
                    </label>
                </li>
                <li>
                    <label for="product-3">
                        <img alt="Test" src="images/3.jpg">
                    </label>
                </li>
            </ul>
            <div>
                <h3>Calvin Klein</h3>
                <h1>Gray Shirt</h1>
                <h2>High quality cotton</h2>
                <em>
                    <del>200.00</del> 160.00€
                </em>
                <strong>20</strong>
                <p>Vivamus consequat nisl diam. Vestibulum porttitor tempor neque vitae condimentum. </p>
                <form>
                    <select>
                        <option>L</option>
                    </select>
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>
</html>