/* Pagination */
    /* General */
        .Pagination { white-space: nowrap; text-align: center;margin: 5%; position: relative;}
        .Pagination * { vertical-align: middle; line-height: 30px; height: 30px;}
    /* Counter */
        .Pagination strong{ float: left; color: #000; position: absolute; padding: 0 .7em; font-weight: normal; font-size: 0.8em; left: 0; top: 0;;}
    /* Links */
        .Pagination a{ padding:0 .7em; display: inline-block; color: #000; text-decoration: none;}
        .Pagination .active{ background: #000; color: #fff;}
    /* Dots */
        .Pagination span{ content: "..."; padding: 0 .7em; display: inline-block; color: rgba(0, 0, 0, 0.548); text-decoration: none;}
        .Pagination span:after{ content: "..."; }
    /* Next & Back */
        .Pagination a:empty{ padding: 0; width: 30px; position: relative}
        .Pagination a:empty:after{ content: ""; display: block; position: absolute; top: 50%; left: 50%; margin-left: -10px; margin-top: -1px; width: 20px; height: 2px; background: #000;}
        .Pagination a:empty:before{ content: ""; position: absolute; display: block; width: 10px; top: 50%; margin-top: -6px; left: 50%; margin-left: -10px; height: 10px; border:solid 2px #000; border-right: none; border-bottom: none; transform: rotate(-45deg); }
        .Pagination a:empty:last-child{ transform: rotate(180deg);}
    /* Responsive */
        @media (max-width: 550px) {
            .Pagination{ text-align: right;}
        }
        @media (max-width: 400px) {
            .Pagination strong{ display: none;}
        }
        @media (max-width: 320px) {
            .Pagination{font-size: 0.8em; text-align: center;}
            .Pagination a:empty{ width: 100%; display: block;}
            .Pagination a:empty{ display: block; background: #eee;border-radius: 4px; margin: 0.5em;}
            .Pagination a:empty:after{ border-color: #aaa;}
            .Pagination a:empty:before{ border-color: #aaa;}
        }
    @media (max-width: 220px) {
        .Pagination{font-size: 0.5em;}
    }
/* Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
    .Pagination { font-family: 'Open Sans', sans-serif; }