#component{ background-color: #555;}
.Placeholder{position: relative;height: 500px;}
.Placeholder::after{ color: #fff; text-shadow: 0px 2px 2px 10px rgba(0,0,0,0.4); content: "PLACEHOLDER"; letter-spacing: 4px; position: absolute; left: 0; right: 0; width: 100%; text-align: center; top: 50%; margin-top: -5px;;}